<div class="grid_12 header-repeat">
   <div id="branding">
      <div class="floatleft logo">
         <!-- <img src="assets/img/livelogo.png" alt="Logo" /> -->
         <img
            src="https://w7.pngwing.com/pngs/621/196/png-transparent-e-commerce-logo-logo-e-commerce-electronic-business-ecommerce-angle-text-service.png"
            alt="Logo" />

      </div>
      <div class="floatleft middle">
         <h1>Selling only the best things online</h1>
         <p>http://localhost:4200/admin/productlist.com</p>
      </div>
      <div class="floatright">
         <div class="floatleft">
            <img src="assets/img/img-profile.jpg" alt="Profile Pic" />
         </div>
         <div class="floatleft marginleft10">
            <ul class="inline-ul floatleft">
               <li>Hello Admin</li>
               <li><a href="#">Logout</a></li>
            </ul>
         </div>
      </div>
      <div class="clear">
      </div>
   </div>
</div>
<div class="clear">
</div>
<div class="grid_12">
   <ul class="nav main">
      <li class="ic-dashboard"><a href="#" routerLink="/admin"><span>Dashboard</span></a> </li>
      <li class="ic-form-style"><a href=""><span>User Profile</span></a></li>
      <li class="ic-typography"><a href="#" routerLink="/admin/changepassword"><span>Change
               Password</span></a></li>
      <li class="ic-grid-tables"><a href="#" routerLink="/admin"><span>Inbox</span></a></li>
      <li class="ic-charts"><a href="http://localhost:4200/"><span>Visit Website</span></a></li>
   </ul>
</div>
<div class="clear">
</div>